.SimulinkModelIcon_icon,
.SubSystemIcon_icon,
.BlockIcon_icon,
.MaskedSubsystemIcon_icon,
.LineIcon_icon,
.annotation_icon { background-image: url('icon.png'); width: 16px; height: 16px; }

.SimulinkModelIcon_icon { background-position: -0px; }
.SubSystemIcon_icon { background-position: -16px; }
.BlockIcon_icon { background-position: -32px; }
.MaskedSubsystemIcon_icon { background-position: -48px; }
.LineIcon_icon { background-position: -64px; }
.annotation_icon { background-position: -80px; }
